<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GrblController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GrblController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <applicationSettings>
        <GrblController.Properties.Settings>
            <setting name="Table1Length" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="MiddleGap" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Table2Length" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="ControlAxis" serializeAs="String">
                <value>Y</value>
            </setting>
            <setting name="PurgeDuration" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="StepPulseTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="StepIdleDelay" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="StepPortInvert" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DirectionPortInvert" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="StepEnableInvert" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LimitPinsInvert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProbePinInvert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JunctionDeviation" serializeAs="String">
                <value>0.02</value>
            </setting>
            <setting name="ArcTolerance" serializeAs="String">
                <value>0.002</value>
            </setting>
            <setting name="ReportInches" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SoftLimits" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HardLimits" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HomingCycle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HomingDirectionInvert" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HomingFeed" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="HomingSeek" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="HomingDebounce" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="HomingPullOff" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaximumSpindleSpeed" serializeAs="String">
                <value>12000</value>
            </setting>
            <setting name="MinimumSpindleSpeed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LaserMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XSteps" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="YSteps" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ZSteps" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="XFeedRate" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="YFeedRate" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="ZFeedRate" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="XAcceleration" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="YAcceleration" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="ZAcceleration" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="XMaximumTravel" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="YMaximumTravel" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ZMaximumTravel" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="DoubleTable" serializeAs="String">
                <value>True</value>
            </setting>
        </GrblController.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <GrblController.Properties.Settings>
            <setting name="StartOffset" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="EndOffset" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SerialPortString" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="Baudrate" serializeAs="String">
                <value>115200</value>
            </setting>
        </GrblController.Properties.Settings>
    </userSettings>
</configuration>
